# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [5]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv('Resources/lending_data.csv')

# Preview the data
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

## Split the Data into Training and Testing

In [10]:
# Create our features

x = df.drop(columns=["loan_status"])
x = pd.get_dummies(x)
# Create our target

y = df["loan_status"]

In [12]:
x.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner_mortgage,homeowner_own,homeowner_rent
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.497472,0.398911,0.103616
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.499997,0.489678,0.304764
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000,0.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000,0.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,1.000000,1.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000,1.000000,1.000000

In [13]:
# Check the balance of our target values
# YOUR CODE HERE
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [17]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [18]:
# Create the StandardScaler instance
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [19]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
x_scaler = scaler.fit(x_train)

In [20]:
# Scale the training and testing data
# YOUR CODE HERE
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [22]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100)
random_forest = random_forest.fit(x_train, y_train)

In [24]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(x_test)
balanced_accuracy_score(y_test, y_pred)

0.9936552268244576

In [25]:
# Display the confusion matrix
# YOUR CODE HERE
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  148, 18611]])

In [26]:
# Print the imbalanced classification report
# YOUR CODE HERE
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.81      1.00      0.99      0.89      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

In [28]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
feature_names = x.columns
sorted(zip(random_forest.feature_importances_, feature_names), reverse=True)

[(0.22636996936302742, 'debt_to_income'),
 (0.18983724916079103, 'borrower_income'),
 (0.1866078410552838, 'interest_rate'),
 (0.16865348365444727, 'total_debt'),
 (0.1381170647333274, 'loan_size'),
 (0.07858782702797092, 'num_of_accounts'),
 (0.009669593092086431, 'derogatory_marks'),
 (0.0009219309508335816, 'homeowner_own'),
 (0.0008040632473709319, 'homeowner_mortgage'),
 (0.0004309777148613553, 'homeowner_rent')]

### Easy Ensemble Classifier

In [31]:
# Train the Classifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
easy = easy.fit(x_train, y_train)
print (x_train_scaled)
print (y_train)

[[ 0.14045627  0.1230916   0.12859477 ...  1.00731801 -0.81861018
  -0.3377677 ]
 [-0.28969527 -0.27393966 -0.27772578 ...  1.00731801 -0.81861018
  -0.3377677 ]
 [-0.48087373 -0.47526712 -0.48088605 ...  1.00731801 -0.81861018
  -0.3377677 ]
 ...
 [-1.48456066 -1.46728289 -1.47278621 ...  1.00731801 -0.81861018
  -0.3377677 ]
 [-0.28969527 -0.26831599 -0.26577518 ...  1.00731801 -0.81861018
  -0.3377677 ]
 [-1.05440912 -1.05787955 -1.05451506 ...  1.00731801 -0.81861018
  -0.3377677 ]]
25729    low_risk
20176    low_risk
55080    low_risk
10410    low_risk
63110    low_risk
           ...
4767     low_risk
26012    low_risk
58637    low_risk
23339    low_risk
45677    low_risk
Name: loan_status, Length: 58152, dtype: object

In [33]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

y_pred = easy.predict(x_test)
balanced_accuracy_score(y_test, y_pred)

0.9944548430086891

In [34]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  118, 18641]])

In [35]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.84      1.00      0.99      0.91      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.

In [ ]:
#1.Easy Ensemble 
#2. E. E.
#3. East Ensemble
#4. 0.22636996936302742, 'debt_to_income'),
 #(0.18983724916079103, 'borrower_income'),
 #(0.1866078410552838, 'interest_rate')